.App {
  font-family: 'Pacifico', cursive;
}

.splash-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-color: #f3dbeb;
}

.splash-page__content {
  padding: 0 20px;
  max-width: 800px;
  height: 50vh;
  text-align: center;
}

.splash-page__footer {
  justify-self: flex-end;
}

.question-and-answers {
  position: relative;
}

.visualisation {
  position: -webkit-sticky;
  position: sticky;
  background-color: #fff;
}

.questions {
  display: block;
  margin-right: 300px;
}

.question {
  height: 100vh;
  border: 0;
  font-size: 100px;
  background-color: #c3eaf1;
}

.question__input {
  margin-left: 0.25em;
  border-width: 0 0 1px;
  border-color: #3D8B99;
  font-family: 'Pacifico', cursive;
  font-size: 100px;
  text-align: center;
  background-color: #c3eaf1;
}
