* {
  box-sizing: border-box;
}

#Page-1-Copy-2 {
  width: 60px;
  height: 60px;
  display: block;
}

.App {
  font-family: 'Pacifico', cursive;
}

.splash-page {
  height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #fff;
  background-color: #216474;
}

.splash-page__content {
  min-height: 340px;
  padding: 0 20px;
  max-width: 800px;
  height: 50vh;
  text-align: center;
}

.splash-page__footer {
  justify-self: flex-end;
}

.question-and-answers {
  position: relative;
}

.visualisation-aside {
  display: inline-block;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  float: right;
  width: 300px;
  height: 100vh;
  background-color: #fff;
}

.questions {
  display: block;
  padding-right: 300px;
}

.question {
  position: relative;
  height: 100vh;
  border: 0;
  font-size: 100px;
  background-color: #FFA254;
}

.question__input {
  margin-left: 0.25em;
  border-width: 0 0 1px;
  border-color: #E26B07;
  font-family: 'Pacifico', cursive;
  font-size: 100px;
  text-align: center;
  background-color: transparent;
}

.toggles {
  display: block;
  margin-top: 30px;
  background-color: rgba(226, 107, 7, 0.5);
  border-radius: 3px;
  width: 600px;
}

.toggles--three {
  width: 100%;
  font-size: 60px;
}

.toggles__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.toggles label {
  position: relative;
  flex: 1;
  color: #CC6106;
  z-index: 1;
  cursor: pointer;
}

.toggles label:before {
  content: '/';
  display: inline-block;
  left: -0.2em;
  position: absolute;
  color: #000;
}

.toggles label:first-of-type:before {
  content: '';
}

.toggles--three label:before {
  left: -0.5em;
}

.toggle__input:checked + label {
  color: #000;
}

.toggle__input {
  display: none;
}

.visualisation__container {
  border: 1px solid rgba(35,137,218, 0.5);
  border-top: none;
  border-radius: 0 0 100vh 100vh;
  height: 140px;
  width: 200px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 200px;
}

.visualisation__inner {
  background: rgba(35,137,218, 0.3);
  border-top: none;
  height: 140px;
  width: 200px;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
}

.visualisation__inner--label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.question-section {
  position: relative;
}

.big-button {
  text-decoration: none;
  color: white;
  width: 200px;
  height: 100px;
  background: #F2385A;
  position: relative;
  margin: 30px;
  padding: 16px;
  font-size: 50px;
  border-radius: 10px;
  box-shadow: 0px 15px 0px 0px #f02046, 0px 0px 20px 0px #bbb;
  transition: all 0.2s;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left: 0;
}

.big-button:active {
  transform: translateY(10px);
  box-shadow: 0px 7px 0px 0px #f02046;
}

.big-button {
  background-color: #3498DB;
  box-shadow: 0px 15px 0px 0px #258cd1;
}
.big-button:active {
  box-shadow: 0px 7px 0px 0px #258cd1;
}
